<% provide(:title, 'Reset password') %>
<main class="container-fluid">
<div class="row">
  <h1 style="text-align: center;">Reset password</h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <div class="d-flex justify-content-center">
        <%= f.submit "Submit", class: "btn btn-info btn-sm", 
          style: "width: 25%;" %>
      </div>

    <% end %>
  </div>
</div>
</div>
